{%assign title = 'EducationUSAabuja SAT Mocktest'%}
{%assign styleSheet = '../styles/exam.css' %}
{%render 'partials/header.liquid',title: title, styleSheet: styleSheet%}



{%assign nextSection = '/end'%}
{%assign examTime = 55 %}
{%assign nextSectionText = 'Finish The SAT!' %}
{%assign nextPagination = '31 - 38' %}<!--The Proper place to set this is in the route section-->
{%render 'partials/examBody.liquid',nextSection: nextSection, examTime: examTime, nextSectionText: nextSectionText, nextPagination: nextPagination%}



{%assign prompt = 'Are you sure you want to skip this section and finish the Test?'%}
{%assign no = 'Not yet' %}
{%assign yes = 'Am Sure!'%}
{%render 'partials/dialogue.liquid', nextSection: nextSection, prompt: prompt, no: no, yes: yes %}

    
    <script src="../../js/exam.js"></script>
</body>
</html>