{%assign title = 'EducationUSAabuja SAT Mocktest'%}
{%assign styleSheet = '../styles/form.css' %}
{%render 'partials/header.liquid',title: title, styleSheet: styleSheet%}
<body>

    <!--STUDENT FORM-->
    <form  action="/dashboard" method="post"> <!--action="/generalInstructions"-->
        <div class="loginForm">
            <div class="logo">
                <img class="form_logo" src="../images/official logo.jpg" alt="coffee logo" title="You want some, huh? :)">
            </div>
            <div class="form_title">Login</div>
            <div class="form_subtitle">Input Your Name And The Email Your Scores Would Be Sent To.</div>
            <div class="info">
                <div><input type="text" class="name" placeholder="Name" name="studentName" required></div>
                <div><input type="password" class="password" placeholder="Password" name="studentPassword" required></div>
                <div><input id="lets_go" type="submit" value="TAKE THE SAT!"></div>
            </div>
        </div>
    </form>
    <!-- <script src="../dist/login.js"></script> -->
</body>
</html>




