<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../styles/exam.css">
    <title>EducationUSAabuja SAT Mocktest</title>
</head>
<body>
    <h2 class="hidden maxTime">25</h2>
    <h2 class="hidden redirect">../../instruction pages/after MathsNoCalc/mathsCalc_instructions.html</h2>
    <div class="header_section">
        <header>
            
            <div>
                <button class="skip">Skip to Math(Calc Allowed)</button>
                
                <div id="clock">
                    <div class="container_minutes"><span class="minutes"><span id="countdown_minutes">25</span> Minutes </span></div>    
                    <div class="container_seconds"><span class="seconds"><span id="countdown_seconds">00</span>  Seconds</span></div> 
                </div>
                
            </div>
            
        </header>
    </div>
    <div class="reading_section">
        <div class="passage_section">
            <section></section>
        </div>
        <div class="question_section">
            <section></section>
        </div>
    </div>
    <div class="footer_section">
        <footer>
            <a href="#"><button>Move to questions<span> 15 - 20 </span></button></a>
        </footer>
    </div>

    <dialog id="modal" class="modal">
        <span class="prompt">Are you sure you want to skip this section?</span>
        <button class="no">Not yet</button>
        <a href="/calcAllowedInstructions"><button class="yes">Am Sure!</button></a>
    </dialog>


    <script src="../../js/exam.js"></script>
    <script src="../../dist/noCalc.js"></script>
</body>
</html>