{%assign title = 'EducationUSAabuja SAT Mocktest'%}
{%assign styleSheet = '../styles/form.css' %}
{%render 'partials/header.liquid',title: title, styleSheet: styleSheet%}
<body>

    <!--STUDENT FORM-->
    <form  action="/register/auth" method="post"> <!--To change action to be generalInstructions later-->
        <div class="registerForm">
            <div class="logo">
                <img class="form_logo" src="../images/official logo.jpg" alt="coffee logo" title="Comrade, Welcome!!">
            </div>
            <div class="form_title">Register</div>
            <div class="form_subtitle">Input Your Name And The Email EducationUSAabuja Identifies You With.</div>
            <div class="info">
                <div><input type="text" class="name" placeholder="Name" name="studentName" required></div>
                <div><input type="email" class="email" placeholder="Email" name="studentEmail" required></div>
                <div><input type="password" class="password" placeholder="Password" name="studentPassword1"  required></div>
                <div><input type="password" class="password" placeholder="Confirm Password" name="studentPassword2" required></div>
                <div><input id="lets_go" type="submit" value="Submit"></div>
            </div>
        </div>
    </form>
</body>
</html>