{%assign title = 'EducationUSAabuja SAT Mocktest'%}
{%assign styleSheet = '../styles/end.css' %}
{%render 'partials/header.liquid',title: title, styleSheet: styleSheet%}
<body>
    <div class="break">
        <span class="congrats">Congratulations!, You Have Successfully Completed The English Section Of This MockTest <span class="ticks">✔✔</span>.</span><br>
        <span class="sat_info">In The Real SAT, There Is Usually A Short Leisure-Break At This Point.</span><br>
        <span class="advice">
            <span>So Chill Out For <span id="timer"> <span id="mins">2</span> minutes <span id="sec">00</span> seconds</span>  and Have A snack.</span><br> 
            <span> While You Wait, I advise You Take Snacks <span class="unserious">Like These</span> To Your SAT Center.</span>
        </span>
    </div>
    
    <div class="next_section">
        <button>Proceed To The Math Section</button>
    </div>

    <dialog id="joke" class="joke">
        <div><span class="times">&times;</span>
            <img src="../images/bread and akara.jpg" alt="Am just kidding, bro ;)" class="jokepics fade">
            <img src="../images/Screenshot 2022-04-26 143141.png" alt="Am just kidding, bro ;)" class="jokepics fade">
            <img src="../images/Screenshot 2022-04-26 144323.png" alt="Am just kidding, bro ;)" class="jokepics fade">
            <img src="../images/Screenshot 2022-04-26 143639.png" alt="Am just kidding, bro ;)" class="jokepics fade">
            
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <div class="dots">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>
        </div>
    </dialog>

    {%assign nextSection = '/noCalcInstructions'%}
    {%assign prompt = 'You dont need a Break?'%}
    {%assign no = 'I need this Break!' %}
    {%assign yes = "I don't need a Break"%}
    {%render '../partials/dialogue.liquid', nextSection: nextSection, prompt: prompt, no: no, yes: yes %}

    

</body> 

<script src="../js/leisureBreak.js"></script> 
    
</html>   