{%assign title = 'EducationUSAabuja SAT Mocktest'%}
{%assign styleSheet = '../styles/instructions.css' %}
{%render 'partials/header.liquid',title: title, styleSheet: styleSheet%}
<body>
    <div class="instructions-box">
        <!--THE INSTRUCTIONS PAGE-->
    
        <!--logo section-->
    <img src="../images/official logo.jpg" alt="EducationUSA logo" title="EducationUSAabuja logo">
    
    <div class="info_box">
        <!--Info box-->
        <div class=info_title>
            <span>Instructions</span>
        </div>
        <div class="info_list">
            <div class="info">1. This is the <b>Writing section</b> of this Mocktest.</div>
            <div class="info">2. This section is a <b>multiple-choice test</b> in which you <b>read passages </b>and <b>find and fix mistakes and weaknesses.</b></div>
            <div class="info">3. This section has a total of <b>44 questions</b> and will last for <b>35 minutes.</b></div>
            <div>4. <span class="info important">ONCE YOU START THE TIMER, YOU CANNOT PAUSE THIS SECTION.</span></div>
            <span class="warning">You may want to rotate your device for a better view during your test</span>
        </div>
        <div class="buttons">
            <a href="#"><button class="Exit">Exit</button></a> 
            <button class="Start">Start Timer</button>
        </div>
    </div>

    {%assign nextSection = '/writing'%}
    {%assign prompt = 'Are you sure you want to start the Timer?'%}
    {%assign no = 'Not yet' %}
    {%assign yes = "Am Sure!"%}
    {%render '../partials/dialogue.liquid', nextSection: nextSection, prompt: prompt, no: no, yes: yes %}

    

    <script src="../../js/instructions.js"></script>
</body>
</html>